<div class="container">
  <!-- Using controller as 'one' -->


  <!-- This table would represent how someone rated The Problem at what time
  on which days to self-check for periods of vulnerability -->

  <!-- Ratings on a scale of 0-10 -->

  <div id="legend" class="rbow2">
    <ul>
      <li class="q0-11"></li>
      <li class="q1-11"></li>
      <li class="q2-11"></li>
      <li class="q3-11"></li>
      <li class="q4-11"></li>
      <li class="q5-11"></li>
      <li class="q6-11"></li>
      <li class="q7-11"></li>
      <li class="q8-11"></li>
      <li class="q9-11"></li>
      <li class="q10-11"></li>
    </ul>
    <p class="less">less problematic</p>
    <p class="more">more problematic</p>
  </div>

  <div id="legend" class="rbow2">
    <ul>
      <li class="q0-1"></li>
      <li class="q1-1"></li>
      <li class="q2-1"></li>
      <li class="q3-1"></li>
      <li class="q4-1"></li>
      <li class="q5-1"></li>
      <li class="q6-1"></li>
      <li class="q7-1"></li>
      <li class="q8-1"></li>
      <li class="q9-1"></li>
      <li class="q10-1"></li>
    </ul>
    <p class="less">feeling lower</p>
    <p class="more">feeling better</p>
  </div>




  <table id="tiles" class="back">
    <tr>
      <th><div></div></th>
      <th class="h0">12a</th>
      <th class="h1">1a</th>
      <th class="h2">2a</th>
      <th class="h3">3a</th>
      <th class="h4">4a</th>
      <th class="h5">5a</th>
      <th class="h6">6a</th>
      <th class="h7">7a</th>
      <th class="h8">8a</th>
      <th class="h9">9a</th>
      <th class="h10">10a</th>
      <th class="h11">11a</th>
      <th class="h12">12p</th>
      <th class="h13">1p</th>
      <th class="h14">2p</th>
      <th class="h15">3p</th>
      <th class="h16">4p</th>
      <th class="h17">5p</th>
      <th class="h18">6p</th>
      <th class="h19">7p</th>
      <th class="h20">8p</th>
      <th class="h21">9p</th>
      <th class="h22">10p</th>
      <th class="h23">11p</th>
    </tr>

    <tr class="d0">
      <th>Mon</th>
      <td id="d0h0" class="d0 h0">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q4-11"></div>
        </div>
      </td>
      <td id="d0h1" class="d0 h1">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h2" class="d0 h2">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q2-11">
          </div>
        </div>
      </td>
      <td id="d0h3" class="d0 h3">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h4" class="d0 h4">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h5" class="d0 h5">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h6" class="d0 h6">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h7" class="d0 h7">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h8" class="d0 h8">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h9" class="d0 h9">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h10" class="d0 h10">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h11" class="d0 h11">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h12" class="d0 h12">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h13" class="d0 h13">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h14" class="d0 h14">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h15" class="d0 h15">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h16" class="d0 h16">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h17" class="d0 h17">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h18" class="d0 h18">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h19" class="d0 h19">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h20" class="d0 h20">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h21" class="d0 h21">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h22" class="d0 h22">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h23" class="d0 h23">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
    </tr>

    <tr class="d1">
      <th>Tues</th>
      <td id="d1h0" class="d1 h0">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q4-11"></div>
        </div>
      </td>
      <td id="d1h1" class="d1 h1">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h2" class="d1 h2">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q2-11">
          </div>
        </div>
      </td>
      <td id="d1h3" class="d1 h3">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h4" class="d1 h4">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h5" class="d1 h5">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h6" class="d1 h6">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h7" class="d1 h7">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h8" class="d1 h8">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h9" class="d1 h9">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h10" class="d1 h10">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h11" class="d1 h11">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h12" class="d1 h12">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h13" class="d1 h13">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h14" class="d1 h14">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h15" class="d1 h15">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h16" class="d1 h16">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h17" class="d1 h17">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h18" class="d1 h18">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h19" class="d1 h19">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h20" class="d1 h20">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h21" class="d1 h21">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h22" class="d1 h22">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d1h23" class="d1 h23">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
    </tr>

    <tr class="d2">
      <th>Weds</th>
      <td id="d2h0" class="d2 h0">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q4-11"></div>
        </div>
      </td>
      <td id="d2h1" class="d2 h1">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h2" class="d2 h2">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q2-11">
          </div>
        </div>
      </td>
      <td id="d2h3" class="d2 h3">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h4" class="d2 h4">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h5" class="d2 h5">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h6" class="d2 h6">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h7" class="d2 h7">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h8" class="d2 h8">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h9" class="d2 h9">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h10" class="d2 h10">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h11" class="d2 h11">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h12" class="d2 h12">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h13" class="d2 h13">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h14" class="d2 h14">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h15" class="d2 h15">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h16" class="d2 h16">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h17" class="d2 h17">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h18" class="d2 h18">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h19" class="d2 h19">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h20" class="d2 h20">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h21" class="d2 h21">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h22" class="d2 h22">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d2h23" class="d2 h23">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
    </tr>

    <tr class="d3">
      <th>Thurs</th>
      <td id="d3h0" class="d3 h0">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q4-11"></div>
        </div>
      </td>
      <td id="d3h1" class="d3 h1">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h2" class="d3 h2">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q2-11">
          </div>
        </div>
      </td>
      <td id="d3h3" class="d3 h3">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h4" class="d3 h4">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h5" class="d3 h5">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h6" class="d3 h6">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h7" class="d3 h7">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h8" class="d3 h8">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h9" class="d3 h9">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h10" class="d3 h10">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h11" class="d3 h11">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h12" class="d3 h12">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h13" class="d3 h13">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h14" class="d3 h14">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h15" class="d3 h15">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h16" class="d3 h16">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h17" class="d3 h17">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h18" class="d3 h18">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h19" class="d3 h19">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h20" class="d3 h20">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h21" class="d3 h21">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h22" class="d3 h22">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d3h23" class="d3 h23">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
    </tr>

    <tr class="d1">
      <th>Fri</th>
      <td id="d0h0" class="d0 h0">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q4-11"></div>
        </div>
      </td>
      <td id="d0h1" class="d0 h1">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q3-11"></div>
        </div>
      </td>
      <td id="d0h2" class="d0 h2">
        <div class="tile" style="transform: rotateY(180deg);">
          <div class="face front"></div>
          <div class="face back q2-11">
            <!-- The q2-11 indicates the color scale based on frequecy of checkins  -->
          </div>
        </div>
      </td>
      <!-- ... -->
    </tr>



<div id="hourly_values">
  <div class="svg">
    <svg class="chart" width="300" height= "170">
      <rect x="" y="" height="" width="" class="hr1"></rect>
      <rect x="" y="" height="" width="" class="hr1"></rect>
      ....
      <text class="visible hr0" x="" y="" text-anchor="left">12a</text>
      <text class="hidden hr1" x="" y="" text-anchor="left">1a</text>
      <text class="hidden hr2" x="" y="" text-anchor="left">2a</text>
      <text class="visible hr3" x="" y="" text-anchor="left">3a</text>
      ...
    </svg>
  </div>
</div>

</div>
